html {
  background: url(images/logo2.png);
}

body {
    /*
    font-family: "Arial", "Helvetica", sans-serif;
    */
    background: none;
}

.hide {
    display:none;
}

#mainHeader {
    z-index:1000;
    position:relative;
    height:58px;
    border-top:1px solid #2cb5e8;
    background:url(images/headerBg.jpg) repeat-x #006ab9;
}

#mainHeader .logo a {
    display:block;
    height:58px;
    width:63px;
    float: left;
    margin-left:15px;
    background: url(images/headerLogo.jpg);
}

#mainMenu {
    margin:0;
    padding:0;
    list-style-type:none;
    height:1.7em;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background-color: rgb(98.66%, 98.66%, 98.66%);
    background-image: linear-gradient(center bottom, #f5f5f5 0%, #ffffff 100%);
    background-image: -o-linear-gradient(bottom, #f5f5f5 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(bottom, #f5f5f5 0%, #ffffff 100%);
    background-image: -webkit-linear-gradient(bottom, #f5f5f5 0%, #ffffff 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0,#f5f5f5), color-stop(1, #ffffff));
    background-image: -ms-linear-gradient(bottom, #f5f5f5 0%, #ffffff 100%);
}

#mainMenu li {
}

#mainMenu li a {
    margin:0;
    padding:0 15px 0 15px;
    border-right:1px solid #ccc;
    border-left:1px solid #fff;
    display:block;
    float:left;
    font-size:14px;
    text-decoration:none;
    color: #333333;
    height:1.9em;
    line-height:1.9em;
}

#mainMenu li a.selected {
    color:#000;
    font-weight:bold;
    background-color: rgb(93.987%, 93.987%, 93.987%);
    background-image: linear-gradient(center bottom, #ffffff 0%, #e8e8e8 100%);
    background-image: -o-linear-gradient(bottom, #ffffff 0%, #e8e8e8 100%);
    background-image: -moz-linear-gradient(bottom, #ffffff 0%, #e8e8e8 100%);
    background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0,
      #ffffff), color-stop(1, #e8e8e8));
    background-image: -ms-linear-gradient(bottom, #ffffff 0%, #e8e8e8 100%);
}

#mainMenu li a:hover {
    background:#ffffff;
}

#contentBox {
    background: #ffffff;
    min-height: 100%;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    box-shadow: 2px 0 2px #999999, -2px 0 2px #999999;
    margin: 0 auto;
}

.container {
    clear:both;
    padding:0 10px 1px 10px;
}

#dropdown {
    float:right;
}

.resultWrapper {
    display:block;
    border: 1px solid #ccc;
    padding:0;
    margin-bottom:10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

table {
    width: auto;
}

table p {
    margin:0;
}

table, th, td {
    border: 1px solid #ebebec;
}

.tableStyle {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}

.tableStyle tr.participantRow:hover td {
    background: #C9EBE6;
}

.tableStyle .tableHeader td {
    color:#ffffff;
    text-align: left;
    background-color: rgb(4, 159, 217);
    margin: 0;
    padding: 5px;
    height:24px;
}

.tableStyle .tableHeader td span {
    line-height: 42px;
    font-size: 16px;
}

.tableStyle .tableHeader .conferenceLayout {
    border-right: none;
    text-align: left;
}

.tableStyle .tableHeader .confTitle {
    position: relative;
    border-left: none;
    border-right: none;
}

.tableStyle .tableHeader td {
    border-left: none;
}
.tableStyle th {
    text-align: center;
    font-size:16px;
    background-color: #f5f5f6;;
    margin: 0;
    padding: 5px;
    color: #4f5051;
    padding: 10px;
    border-color: rgb(235, 235, 236);
}

.tableStyle tbody tr:nth-child(even) {
    background: #f5f5f5;
}

.tableStyle tbody tr:nth-child(odd) {
    background: #ffffff;
}

.tableStyle td {
    padding: 3px 5px 3px 5px;
    vertical-align: middle;
    text-align: center;
}

.tableStyle .conferenceEmpty td {
    background:#FDD5D3;
    color:#990000;
    text-align: center;
    font-size:16px;
    height: 25px;
}

.tableStyle .dropCell {
    text-align: center;
}

.tableStyle .dropCell span, .tableStyle .muteimages .mutebuttons span {
    vertical-align: middle;
}

.tableStyle .muteimages .mutebuttons span {
    margin-right:3px;
}

.dialOutForm  {
    float: right;
    position: absolute;
    top: 13%;
    right: 1%;
}

.dialOutInput  {
    display: inline !important;
    width: 300px;
}

.dialOut {
    margin-left: 10px;
}

.viewerConference {
	float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
}

.displayName  {
    padding: 0px 10px 0px 10px !important;
    text-align: center;
    vertical-align: middle;
}

.setImportantParticipant, .setFocusParticipant {
    margin: auto;
    display: inline-block;
    float: right;
    margin: 0px 5px 0px 5px;
    vertical-align: middle;
    width: 120px;
}

.specialLayout  {
    margin: 0px 5px 0px 5px;
    display: inline-block;
    float: right;
    width: 250px;
}

.tableStyle .resetspecialLayout  {
    margin: 0px 5px 0px 5px;
    display: inline-block;
    float: right;
    width: 250px;    
}

.showSetup{
    margin: auto;
    display: block;
    height: 2em;
    font-size:1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: #333;
    background: #f7f7f7; /* Old browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
    border: 1px solid #000;
}

.setupHide {
    padding-bottom: 10px;
}

.tableStyle .currentConference {
    text-align: center;
    color:#119e1b;
}

.tableStyle .loopConference {
    text-align: center;
    color:#990000;
}

.tableStyle tbody .loop  {
    background:#C5E9F7 !important;
}

.tableStyle tbody .codec  {
    background:#C5E9F7 !important;
}

.tableStyle .mutebuttons  img{
    float: left;
}

.tableStyle tbody .recorder  {
    background:#C5E9F7 !important;
}

.tableStyle .muteAllParticipants{
    padding-bottom: 5px;
}

.tableStyle .clearfloat {
    clear: both;
}

.tableStyle img {
    display: block;
    display: block;
    cursor: pointer;
}

.currentLayoutHeader {
    height: 40px;
}

.tableStyle tfoot td {
    border-bottom: 0;
    border-top: 1px solid #fff;
    background-color: #f1f1f1;
}

.tableStyle tfoot td:first-child {
    -moz-border-radius: 0 0 0 5px;
    -webkit-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.tableStyle tfoot td:last-child {
    -moz-border-radius: 0 0 5px 0;
    -webkit-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

.tableStyle tfoot td:only-child {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.padding {
    padding:10px;
}

#mainSlice {
    width:100%;
    margin-top:10px;
}

h2 {
    text-align:center;
}

.preview {
  position: relative;
}

.fullsize {
  position: absolute;
  opacity: 0;
  transition: opacity 0s;
  z-index: 1;
  top: 0;
  right: 0;
  pointer-events: none;
}
.preview:hover .fullsize {
  opacity: 1;
}
.preview .hide {
  display: none;
}

@keyframes glowing {
  0% { background-color: #FF9999;}
  50% { background-color: #FF0000;}
  100% { background-color: #FF9999;}
}



#panePlacement .paneDiv {
    display: block;
    float: left;
    margin-right: 10px;
    text-align: left;
}

#panePlacement label {
    margin: 0 10px 0 0;
    display:block;
    width: 55px;
    float:left;
}

.layoutMenu {
    padding: 0;
    list-style: none;
    margin: 0;
}

.layoutMenu li {
    display: inline;
}

.layout {
    border: 0;
    background: none;
    padding: 5px;
}

.layout img {
    height: 40px;
}

.layout:disabled {
    background: #43A942;
}

.currentLayout {
    width: 200px;
}

.tableStyle tbody .allUsers  {
    background:#FDD5D3 !important;
    color:#990000;
}

@-webkit-keyframes redAlert {
  from { background-color: red; }
  to { background-color: inherit; }
}
@-moz-keyframes redAlert {
  from { background-color: red; }
  to { background-color: inherit; }
}
@-o-keyframes redAlert {
  from { background-color: red; }
  to { background-color: inherit; }
}
@keyframes redAlert {
  from { background-color: red; }
  to { background-color: inherit; }
}
.redAlert {
  -webkit-animation: redAlert 1s infinite; /* Safari 4+ */
  -moz-animation:    redAlert 1s infinite; /* Fx 5+ */
  -o-animation:      redAlert 1s infinite; /* Opera 12+ */
  animation:         redAlert 1s infinite; /* IE 10+ */
}

@-webkit-keyframes yellowAlert {
  from { background-color: orange; }
  to { background-color: inherit; }
}
@-moz-keyframes yellowAlert {
  from { background-color: orange; }
  to { background-color: inherit; }
}
@-o-keyframes yellowAlert {
  from { background-color: orange; }
  to { background-color: inherit; }
}
@keyframes yellowAlert {
  from { background-color: orange; }
  to { background-color: inherit; }
}
.yellowAlert {
  -webkit-animation: yellowAlert 2s infinite; /* Safari 4+ */
  -moz-animation:    yellowAlert 2s infinite; /* Fx 5+ */
  -o-animation:      yellowAlert 2s infinite; /* Opera 12+ */
  animation:         yellowAlert 2s infinite; /* IE 10+ */
}

@-webkit-keyframes greenAlert {
  from { background-color: green; }
  to { background-color: inherit; }
}
@-moz-keyframes greenAlert {
  from { background-color: green; }
  to { background-color: inherit; }
}
@-o-keyframes greenAlert {
  from { background-color: green; }
  to { background-color: inherit; }
}
@keyframes greenAlert {
  from { background-color: green; }
  to { background-color: inherit; }
}
.greenAlert {
  -webkit-animation: greenAlert 3s infinite; /* Safari 4+ */
  -moz-animation:    greenAlert 3s infinite; /* Fx 5+ */
  -o-animation:      greenAlert 3s infinite; /* Opera 12+ */
  animation:         greenAlert 3s infinite; /* IE 10+ */
}

.icon-audio, .icon-microphone, .icon-video, .icon-view-preview-telepresence {
    color: #43a942;
}

.icon-audio:hover, .icon-microphone:hover, .icon-video:hover, .icon-view-preview-telepresence:hover, .icon-star:hover, .icon-fullscreen:hover {
    color: #3e9d3d;
}

.icon-speaker-cross, .icon-volume-cross, .icon-mute, .icon-video-cross, .icon-view-preview-telepresence-muted, .icon-star, .icon-fullscreen {
    color: #F96452;
}

.icon-speaker-cross:hover, .icon-volume-cross:hover, .icon-mute:hover, .icon-video-cross:hover, .icon-view-preview-telepresence-muted:hover {
    color: #e3423a;
}

.icon-star.importantTrue, .icon-fullscreen.fullscreenTrue{
	color: #43a942;
}

.icon-exit-contain {
    color: #F5483F;
}

.icon-exit-contain:hover {
    color: #e3423a;
}

.loop .icon-exit-contain, .codec .icon-exit-contain, .recorder .icon-exit-contain {
    color: #049fd9;
}

.loop .icon-exit-contain:hover, .codec .icon-exit-contain:hover, .recorder .icon-exit-contain:hover {
    color: #0393c9;
}

label {
    margin-bottom:0;
    margin-top: 5px;
}

.modal-header {
    background-clip: border-box;
    background-color: rgb(4, 159, 217);
    background-origin: padding-box;
    box-sizing: border-box;
    color: rgb(106, 107, 108);
    cursor: auto;
    display: block;
    flex-basis: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 12.8px;
    height: 56px;
    line-height: 21.9429px;
    margin: 0px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    tab-size: 2;
    text-size-adjust: 100%;
    width: 640px;
    -webkit-box-direction: normal;
    -webkit-box-flex: 0;
    -webkit-font-smoothing: antialiased;
}

.modalDialog {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modalDialog > div {
    width: 640px;
    position: relative;
    margin: 2% auto;
    background: #fff;
}

.modalDialog h3 {
    font-size: 20px;
    color: white;
    padding: 0 32px 0 16px;
    font-weight: normal;
    line-height: 32px;
    font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.close {
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 15px;
    width: 24px;
    text-decoration: none;
    font-weight: normal;
}

.modal-body {
    padding: 24px 32px;
}


